{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}All news!{% endblock title %}
{% block content %}
<h1> Поиск новостей и статей... </h1>
<hr>
<div class="text-center mt-5">
<form action="" method="get">
   {{ filterset.form.as_p }}
    <input type="submit" value="Поиск" />
</form>
</div>
{% if selectednews %}
<table>
    <tr>
        <td><h5>Заголовок</h5></td>
        <td><h5>Опубликовано</h5></td>
        <td><h5>Содержимое</h5></td>
        <td><h5>Категория</h5></td>
    </tr>
    {% for i in selectednews %}
        <tr>
        <td><a class="nav-link" href="/news/{{i.id}}">{{i.title|censor}}</a></td>
        <td>{{i.post_creation_date}}</td>
        <td>{{i.post_content|censor|truncatechars:21}}</td>
        <td>{% for c in i.post_category.all %}
        <span>
        <a href="{% url 'category' c.id%}"> {{c}}</a>
        </span>
        {% endfor %}
         </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<div class="text-center mt-5">
<h3>There are no news</h3>
</div>
{% endif %}
<!--Pagination-->
<div class="text-center mt-5">
{% if page_obj.has_previous %}
   <a href="?{% url_replace page=1 %}"> 1 </a>
   {% if page_obj.previous_page_number != 1 %}
       ...
       <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
    ...
    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
</div>

{% endblock content %}